<div class="slideshow">
    <div class="container">
        <div class="swiper-viewport slideshow__viewport">
            <div id="slideshow{{ module }}" class="swiper-container slideshow__container">
                <div class="swiper-wrapper slideshow__wrapper"> {% for banner in banners %}
                    <div class="swiper-slide text-center slideshow__slide">{% if banner.link %}
                        <a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />{{ banner.description }}</a>{% else %}<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />{% endif %}</div>
                    {% endfor %} </div>
            </div>
        </div>
    </div>
</div>