<div class="slideshow">
    <div class="container">
        <div class="swiper-viewport slideshow__viewport">
            <div id="slideshow{{ module }}" class="swiper-container slideshow__container">
                <div class="swiper-wrapper slideshow__wrapper"> {% for banner in banners %}
                    <div class="swiper-slide text-center slideshow__slide">{% if banner.link %}
                        <a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />{{ banner.description }}</a>{% else %}<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />{% endif %}</div>
                    {% endfor %} </div>
            </div>
        </div>
    </div>
</div>

<script><!--
$('#slideshow0').swiper({
    mode: 'horizontal',
    effect: 'fade',
    autoplay: 10000,
    autoplayDisableOnInteraction: true,
    loop: true
});

/*--------- слайдер student ---*/
$('#slideshow1').swiper({
    mode: 'horizontal',
    autoplay: 5000,
    autoplayDisableOnInteraction: true,
    loop: true
});

/*--------- витрина на главной ---*/

$('.swiper-container1').swiper({
    mode: 'horizontal',
    autoplay: 30000,
    centeredSlides: true,
    spaceBetween: 10,
    loop: true,
    //pagination: '.carousel{{ module }}',
    pagination: false,
    paginationClickable: false,
    prevButton: '.swiper-button-prev',
    nextButton: '.swiper-button-next',

    // Default parameters
    slidesPerView: 5,

    // Responsive breakpoints
    breakpoints: {
        // when window width is <= 1200px
        1200: {
            slidesPerView: 3
        },
        // when window width is <= 575px
        575: {
            slidesPerView: 1
        }
    }

});
--></script>
